absl-py==0.12.0
aggdraw==1.3.12
aiofiles==0.7.0
aiohttp==3.7.4.post0
alabaster==0.7.12
altair==4.1.0
altgraph==0.17.2
aniso8601==7.0.0
anyio==3.3.4
appdirs==1.4.4
argon2-cffi==21.1.0
arrow==1.2.0
asgiref==3.4.1
astor==0.8.1
astroid==2.8.3
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==21.2.0
audioread==2.1.9
Automat==20.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bandit==1.7.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
black==21.9b0
bleach==4.1.0
Bottleneck==1.3.2
branca==0.4.2
bs4==0.0.1
cachetools==4.2.4
categorical-encoding==0.4.1
category-encoders==2.3.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
clang==5.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
colorama==0.4.4
constantly==15.1.0
cookiecutter==1.7.3
cryptography==35.0.0
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.23
dask==2021.9.1
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
descartes==1.1.0
diff-match-patch==20200713
dill==0.3.4
distlib==0.3.3
distributed==2021.9.1
distro==1.6.0
dj-database-url==0.5.0
Django==3.2.8
django-cleanup==5.2.0
django-crispy-forms==1.13.0
dm-tree==0.1.6
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
fastapi==0.70.0
featuretools==1.0.0
filelock==3.3.1
Fiona @ file:///C:/Users/munaufal/Downloads/Fiona-1.8.20-cp39-cp39-win_amd64.whl
flake8==4.0.1
Flask==2.0.2
flatbuffers==1.12
folium==0.12.1
fsspec==2021.10.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
GDAL @ file:///C:/Users/munaufal/Downloads/GDAL-3.3.2-cp39-cp39-win_amd64.whl
gensim==4.1.2
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
gevent==21.8.0
gitdb==4.0.7
GitPython==3.1.24
glob2==0.7
google-api-core==1.31.3
google-auth==2.3.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.20.0
google-cloud-core==2.1.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
graphene==2.1.9
graphene-django==2.15.0
graphql-core==3.1.6
graphql-relay==3.1.0
greenlet==1.1.2
grpcio==1.41.0
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==3.1.0
HeapDict==1.0.1
hpack==4.0.0
htmlmin==0.1.12
httptools==0.3.0
huggingface-hub==0.0.19
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
imageai==2.1.5
ImageHash==4.2.1
imageio==2.9.0
imagesize==1.2.0
imbalanced-learn==0.8.1
importlib-metadata==4.8.1
importlib-resources==5.3.0
imutils==0.5.4
incremental==21.3.0
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itemadapter==0.4.0
itemloaders==1.0.4
itsdangerous==2.0.1
jedi==0.18.0
jikanpy==4.3.2
Jinja2==3.0.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonschema==4.1.2
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.8.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.11.1
jupyterlab==3.2.1
jupyterlab-execute-time==2.1.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kaggle==1.5.12
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keyring==23.2.1
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lesscpy==0.15.0
librosa==0.8.1
llvmlite==0.37.0
locket==0.2.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
missingno==0.5.0
mistune==0.8.4
mizani==0.7.3
mlxtend==0.19.0
more-itertools==8.10.0
msgpack==1.0.2
multidict==5.2.0
multimethod==1.6
munch==2.5.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
mysqlclient @ file:///C:/Users/munaufal/Downloads/mysqlclient-1.4.6-cp38-cp38-win_amd64.whl
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nominatim==0.1
notebook==6.4.5
numba==0.54.1
numpy==1.21.3
numpydoc==1.1.0
oauthlib==3.1.1
opencv-contrib-python==4.5.4.58
opencv-python==4.5.4.58
openpyxl==3.0.9
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.0
palettable==3.3.0
pandas==1.3.4
pandas-profiling==3.1.0
pandasql==0.7.3
pandocfilters==1.5.0
paramiko==2.8.0
parsel==1.6.0
parso==0.8.2
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pbr==5.6.0
pefile==2021.9.3
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
plotly==5.3.1
plotnine==0.8.0
pluggy==1.0.0
ply==3.11
pooch==1.5.2
poyo==0.5.0
priority==1.3.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.21
Protego==0.1.16
proto-plus==1.19.5
protobuf==3.19.0
psd-tools==1.9.18
psutil==5.8.0
ptyprocess==0.7.0
py4j==0.10.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
PyDispatcher==2.0.5
pydocstyle==6.1.1
pyflakes==2.4.0
Pygments==2.10.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.11.1
pyls-black==0.4.7
pyls-spyder==0.4.0
PyMySQL==1.0.2
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.3
pyproj==3.2.1
PyQt5==5.15.5
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.18.0
PySastrawi==1.2.0
PySocks==1.7.1
pyspark==3.2.0
python-dateutil==2.8.2
python-dotenv==0.19.1
python-geoip==1.2
python-geoip-geolite2==2015.303
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytube==11.0.1
pytz==2021.3
PyWavelets==1.1.1
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==1.1.4
PyYAML==6.0
pyzmq==22.3.0
QDarkStyle==3.0.2
qstylizer==0.2.1
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.11.2
Quandl==3.6.1
queuelib==1.6.2
regex==2021.10.23
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
resampy==0.2.2
retrying==1.3.3
rope==0.21.0
rsa==4.7.2
Rtree==0.9.7
Rx==1.6.1
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0
scikit-surprise==1.1.1
scipy==1.7.1
Scrapy==2.5.1
seaborn==0.11.2
selenium==4.0.0
Send2Trash==1.8.0
service-identity==21.1.0
Shapely==1.7.1
simplejson==3.17.5
singledispatch==3.7.0
six==1.16.0
sklearn-pandas==2.2.0
smart-open==5.2.1
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==3.2.6
spyder-kernels==2.1.3
SQLAlchemy==1.4.26
sqlparse==0.4.2
starlette==0.16.0
statsmodels==0.13.0
stevedore==3.5.0
surprise==0.1
tabula-py==2.3.0
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.7.0
tensorflowjs==3.9.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
tflite==2.4.0
threadpoolctl==3.0.0
three-merge==0.1.1
tifffile==2021.10.12
tinycss2==1.1.0
tk==0.1.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
torch @ file:///D:/torch-1.10.0%2Bcu113-cp39-cp39-win_amd64.whl
torchaudio @ file:///D:/torchaudio-0.10.0%2Bcu113-cp39-cp39-win_amd64.whl
torchvision @ file:///D:/torchvision-0.11.1%2Bcu113-cp39-cp39-win_amd64.whl
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.10.0
trio==0.19.0
trio-websocket==0.9.2
tweepy==4.1.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typeguard==2.13.0
typing-extensions==3.10.0.2
ujson==4.0.2
urllib3==1.26.7
uvicorn==0.15.0
virtualenv==20.8.1
visions==0.7.4
w3lib==1.22.0
waitress==2.0.0
watchdog==2.1.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
websockets==10.0
Werkzeug==2.0.2
widgetsnbextension==3.5.1
woodwork==0.8.2
wordcloud==1.8.1
wrapt==1.12.1
WSGIserver==1.3
wsproto==1.0.0
xgboost==1.5.0
xlrd==2.0.1
XlsxWriter==3.0.1
yapf==0.31.0
yarl==1.7.0
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
